body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #1E202D;
}

section{
    display: flex;
    flex-direction: column; 
}

h1{
    color: aliceblue;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
ul a{
    color: aliceblue;
}
.Logo{
    height: 20pc;
    display: block;
    margin: 0 auto;
}
/* nav .menu{
    display: flex;
}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 100px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 900;
    color:aliceblue;
} */

.video-content{
    display: flex;
    flex-direction: column;
}

.Video{
    float: left;
    margin: 10px;
}
.Video p{
    font-size: 1.06em; user-select: auto;
}
.Video img{
    display: block;
    margin: 0 auto;
    float: left;
    margin: 10px;
}
p{
    color: aliceblue;
}
#main{
    padding-top: 80px;
    background-color: aliceblue;

}
.showcase-box{
    width: 430px;
    height: 250px;
    box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    overflow: hidden;
}
.showcase-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
nav .menu li a:hover{
    color: #FF0000;
}
.Back{
    display: block;
    margin: 0 auto;
}
.Back img{
    height: 10pc;
    margin: 10px;
}
.content{
    height: 100vh;
    width: 100%;
    background-image: url(Images/Screenshots/1.png);
    background-size: cover;
    background-position: center;
}
.features{
    background-color: #373b57;
    color: aliceblue;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.features figure{
    margin: auto;
    width: 200px;
}
.features figure img{
    border: 3px solid white;
    box-shadow: grey 0px 0px 10px;
    border-radius: 50%;
    width: 200px;
}
.wrapper{
    width: 860px; 
    margin: 0 auto;
    }
.wrapper ul{
    list-style: none;
    margin-top: 2%;
    }
.wrapper ul li {
    background: #060038;
    width: 170px;
    border: 2px solid #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    }
.wrapper ul li:hover{
    background: rgb(20, 73, 220); 
    }
    
.wrapper ul ul{
    display: none;
    }
.wrapper ul li:hover > ul{
    display: block;
    }
.wrapper ul ul ul{
    margin-left: 170px;
    top: 0;
    position: absolute;
    }
    